body{
	font-family: sans-serif;
	background: #1D1D4E;
	color: white;
	display: block;
}
#resultsDisplay{
	display: none;
}
#gui_box{
	overflow-y: scroll;
}
#closeSpan{
	float: right;
	font-size: 3vh;
	font-weight: bold;

}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#DetailedResultsModalContent{
	background: #3943B7;
	border-radius: 10px;
	padding: 10px;
	padding-bottom:5px;
	width: 60vw;
	max-width: 600px;
	margin: 10% auto;
	max-height: 65vh;
	overflow-y: scroll;

}
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
h1{
	color: white;
	font-size: 5vh;
	margin: 2vh;
}
p{
	font-size: 2vh;
	margin: 1vh;
}
.gui_box{
	box-shadow: 0px 10px 15px rgba(0,0,0,0.30);
	width: 60vw;
	min-height: 10vh;
	max-height: 70vh;
	background: #9FC3D2;
	border-radius: 10px;
	max-width: 600px;
}
ul{
	padding: 2vh;
	text-align: left;
}
#uploadBox {
	height: 35vh;
	cursor:default;
}
#linkInput{
	transition-duration: 0.2s;
	text-align: center;
	background_color: #cccaca;
	border: none;
	margin: 1vh;
	font-size: 2vh;
	border-radius: 10px;
	width: 60vw;
	max-width: 600px;
	height: 4vh;
}
#linkInput:focus{
	border: none;
	outline: none;
	box-shadow: 0px 20px 15px rgba(0,0,0,0.25);
}

.GoButton{
	display: inline-block;
	border: none;
	background: #5194BB;
	color:  white;
	transition-duration: 0.2s;
	border-radius: 10px;
	font-size: 2vh;
	margin: 1vh;
	width: 25%;
	height: 5vh;
	max-width: 250px;
}

.GoButton:hover{
	box-shadow: 0px 20px 15px rgba(0,0,0,0.25);
	cursor: pointer;
}

.GoButton:active{
	box-shadow: none;
}
.prompt{
	padding-top: 2vh;
}
img{
	margin: 2vh;
	height: 65%;
	object-fit: contain;
}
#resultsList {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 6px;
}
#closeSpan {
	cursor:pointer;
	background:#ff0000;
	border-radius:10px;
	margin-bottom: 5px;
	margin-left: 10px;
	text-align:center;
}
#DetailedResultsModalContent{
	text-align:left;
}

#buttonDiv{
	display: inline;
}